clusterName: "${CLUSTER_NAME}"

clusterEndpoint: "${CLUSTER_ENDPOINT}"

aws:
  defaultInstanceProfile: "${DEFAULT_INSTANCE_PROFILE}"

replicas: 1

serviceAccount:
  create: ${SERVICE_ACCOUNT_CREATE}
  name: "${SERVICE_ACCOUNT_NAME}"
  annotations: {
    "eks.amazonaws.com/role-arn": "${SERVICE_ACCOUNT_ROLE_ARN}"
  }